@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.container{
    max-width: 1200px;
}

.navbar {
    background-color: #2C3E50;
    display: flex;
    justify-content: space-around;
    align-items:baseline;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.link {
    text-decoration: none;
    color: white;
}

.bg-green {
    background-color: #1ABC9C;
}

.card-style {
    align-items: center;
    background-color: #1ABC9C;
    border: none;
    color: white;
}

.w-60 {
    width: 60%;
}

.card-body-style {
    width: 150%;
    text-align: center;


}

.role {
    justify-content: center;
}

.graphic {
    display: flex;
    position: relative;
    right: -85px;
    align-items: center;
    padding: 1rem;
}

.line {
    height: 5px;
    width: 25%;
    border-radius: 1rem;
}

.l-white {
    background-color: white;
    height:5px ;
    width: 125px;
    border-radius: 1rem;
}

.l-blue {
    background-color: #2C3E50;
    height: 5px;
    width: 125px;
    border-radius: 1rem;
}

.icon {

    padding: 1rem;

}

.icon-white {
    color: white;
}

.icon-blue {
    color: #2C3E50;
}

.graphic-2 {
    display: flex;
    align-items: center;
}

.card-2 {
    align-items: center;
    flex-direction: column;
    display: flex;
    color: #2C3E50;
    padding: 2rem 1rem;


}

.title-white{
    color: white;
    margin-bottom: -50px;

}

.section{
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 2rem;

}

.white{
    color: white;
    border: none;
}

.row-j-center{
    justify-content: center;
   
}

.download{
    border: none;

}